.adsContainer {
    background: rgb(173, 173, 173);
    width: 200px;
    height: 100%;
}

.adsMobile {
    width: calc(100% - 46px);
}

@media (max-width: 1300px) {

    .adsContainer {
        width: 150px;
    }

}