.navegation {
    width: 250px;
}
.mainFerramentas {
    left: 0;
    position: relative;
    transition: all .3s;
}
.sidemenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1300px) {

    .navegation {
        width: 200px;
    }

}

@media (max-width: 950px) {

    .navegation {
        width: calc(100vw - 30px)
    }
    .mainFerramentas {
        left: -100vw;
        position: absolute;
        z-index: 9;
    }

    .menuOpen {
        left: 15px;
    }
}