.mainSection textarea {
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    border: 2px solid black;
    border-radius: 12px;
    height: 270px;
    padding: 15px;
    font-size: 18px;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.lista li {
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px 15px;
    width: 100%;
    margin: 8px;
    place-content: center; 
}

.lista li:first-child {
    margin-left: 0;
}

.lista li:last-child {
    margin-right: -5px;
}

@media (min-width: 951px) and (max-width: 1130px) {
    .lista {
        flex-direction: column;
    }
    .lista li {
        width: calc(100% - 46px);
    }
    .lista li:first-child,
    .lista li:last-child {
        margin: 8px;
    }
}

@media (max-width: 750px) {
    .lista {
        flex-direction: column;
    }

    .lista li {
        width: calc(100% - 46px);
    }
    .lista li:first-child,
    .lista li:last-child {
        margin: 8px;
    }
    
}