.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: calc(100% - 30px);
}

.insideContainer {
    border: 2px solid var(--text-color-container);
    border-radius: 10px;
    z-index: 2;
    position: relative;
    background: var(--container-background);
    height: calc(100vh - 110px);
}
.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px);
    overflow-y: auto;
}
@media (max-width: 1300px) {

    .container {
        padding: 4px 15px;
        width: calc(100% - 30px);
    }

    .insideContainer {
        height: calc(100vh - 66px);
    }

}
