.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: calc(100% - 30px);
}

.insideContainer {
    border: 2px solid var(--text-color-container);
    border-radius: 10px;
    z-index: 2;
    position: relative;
    background: var(--container-background);
    height: calc(100vh - 110px);
}