@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --max-width-1400: 1400px;
  --max-width-1000: 1000px;
  --max-width-700: 700px;


  --container-background: #D7E4F2;
  --header-background: #7A306C;
  --text-color-container: #0C1B33;
  --header-container-background: #03B5AA;
  --folder-color: #FEDC87;

  --font-family: "Share Tech Mono", monospace;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

li {
  display: flex;
}