.link {
    text-decoration: none;
    color: var(--text-color-container);
    font-size: 13px;
    padding: 4px;
}

.subMenuList {
    width: 200%;
    left: 54%;
    top: 10px;
    position: relative;
}

.subMenuList li:before {
    content: '.';
}