.title {
    text-align: center;
    padding: 20px;
}

.headerInsideContainer {
    border-bottom: 1px solid var(--text-color-container);
    padding: 3px;
    display: flex;
    justify-content: space-between;
    background: var(--header-container-background);
    border-radius: 8px 8px 0px 0px;
    z-index: 0;
    position: relative;
}